{% extends 'base.html' %}

{% block content %}
    <h2>Поиск врачей</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Поиск</button>
    </form>

    {% if doctors %}
        <h3>Результаты поиска:</h3>
        <ul>
            {% for doctor in doctors %}
                <li>{{ doctor.name }} - {{ doctor.choosing_a_specialization }}</li>
            {% empty %}
                <li>Врачи не найдены.</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}