
{% extends 'base/base.html' %}


{% load static %}


  {% block content %}



<!--Start Preloader -->
{#<div class="preloader"></div>#}
<!--End Preloader --> 

<!--Start header area-->

<!--Start top bar area-->
      {% include 'base/topbararea.html' %}
<!--End top bar area-->

<!--Start header area-->
      {% include 'base/header.html' %}
<!--End header area-->


{% comment %} {% include 'base/search.html' %} {% endcomment %}

<!--Start mainmenu area-->
{% include 'base/mainmenu.html' %}
<!--End mainmenu area-->

<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url({% static 'images/resources/breadcrumb-bg.jpg' %});">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>Our Doctors</h1>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="breadcrumb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="left pull-left">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Doctors</li>
                        </ul>
                    </div>
                    <div class="right pull-right">
                        <a href="#">
                            <span><i class="fa fa-share-alt" aria-hidden="true"></i>Share</span> 
                        </a>   
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start team area-->

<section class="team-area doctor doctor-page-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-tabs tab-menu">
                    <li class="active"><a href="#cardiologist" data-toggle="tab">Cardiologist</a></li>
                    <li><a href="#gynaecologist" data-toggle="tab">Gynecologist</a></li>
                    <li><a href="#neurologist" data-toggle="tab">Neurologist</a></li>
                    <li><a href="#ophthalmologist" data-toggle="tab">Ophthalmologist</a></li>
                    <li><a href="#paediatrician" data-toggle="tab">Pediatrician</a></li>
                    <li><a href="#practitioner" data-toggle="tab">Practitioner</a></li>
                    {% if request.user.is_superuser %}
                    <div class="admin-actions">
                        <a href="{% url 'doctor_create' %}" class="btn btn-sm btn-primary">Create Doctor</a>
                    </div>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <!-- Cardiologist tab pane -->
                    <div class="tab-pane active" id="cardiologist">
                        <div class="row">
                            {% for doctor in cardiologists %}
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                {% if request.user.is_superuser %}
                                <div class="admin-actions">
                                    <a href="{% url 'doctor_update' doctor.pk %}" class="btn btn-sm btn-success">Update</a>
                                    <a href="{% url 'doctor_delete' doctor.pk %}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this doctor?')">Delete</a>
                                </div>
                                {% endif %}
                                <div class="single-team-member">
                                    <div class="img-holder">
                                        {% if doctor.image_for_doctor %}
                                            <img src="{{ doctor.image_for_doctor.url }}" alt="Doctor Image">
                                        {% else %}
                                            <img src="{% static 'path_to_default_image/default_avatar.jpg' %}" alt="Default Image">
                                        {% endif %}
                                        <div class="overlay-style">
                                            <div class="box">
                                                <div class="content">
                                                    <div class="top">
                                                        <h3>{{ doctor.name }}</h3>
                                                        <span>{{ doctor.choosing_a_specialization }}</span>
                                                    </div>
                                                    <span class="border"></span>
                                                    <div class="bottom">
                                                        <ul>
                                                            <li><i class="fa fa-phone" aria-hidden="true"></i> {{ doctor.phone_number }}</li>
                                                            <li><i class="fa fa-envelope" aria-hidden="true"></i> {{ doctor.email }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-holder">
                                            <h3>{{ doctor.name }}</h3>
                                            <span>{{ doctor.choosing_a_specialization }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Gynaecologist tab pane -->
                    <div class="tab-pane" id="gynaecologist">
                        <div class="row">
                            {% for doctor in gynaecologists %}
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                {% if request.user.is_superuser %}
                                <div class="admin-actions">
                                    <a href="{% url 'doctor_update' doctor.pk %}" class="btn btn-sm btn-success">Update</a>
                                    <a href="{% url 'doctor_delete' doctor.pk %}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this doctor?')">Delete</a>
                                </div>
                                {% endif %}
                                <div class="single-team-member">
                                    <div class="img-holder">
                                        {% if doctor.image_for_doctor %}
                                            <img src="{{ doctor.image_for_doctor.url }}" alt="Doctor Image">
                                        {% else %}
                                            <img src="{% static 'path_to_default_image/default_avatar.jpg' %}" alt="Default Image">
                                        {% endif %}
                                        <div class="overlay-style">
                                            <div class="box">
                                                <div class="content">
                                                    <div class="top">
                                                        <h3>{{ doctor.name }}</h3>
                                                        <span>{{ doctor.choosing_a_specialization }}</span>
                                                    </div>
                                                    <span class="border"></span>
                                                    <div class="bottom">
                                                        <ul>
                                                            <li><i class="fa fa-phone" aria-hidden="true"></i> {{ doctor.phone_number }}</li>
                                                            <li><i class="fa fa-envelope" aria-hidden="true"></i> {{ doctor.email }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-holder">
                                            <h3>{{ doctor.name }}</h3>
                                            <span>{{ doctor.choosing_a_specialization }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Neurologist tab pane -->
                    <div class="tab-pane" id="neurologist">
                        <div class="row">
                            {% for doctor in neurologists %}
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                {% if request.user.is_superuser %}
                                <div class="admin-actions">
                                    <a href="{% url 'doctor_update' doctor.pk %}" class="btn btn-sm btn-success">Update</a>
                                    <a href="{% url 'doctor_delete' doctor.pk %}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this doctor?')">Delete</a>
                                </div>
                                {% endif %}
                                <div class="single-team-member">
                                    <div class="img-holder">
                                        {% if doctor.image_for_doctor %}
                                            <img src="{{ doctor.image_for_doctor.url }}" alt="Doctor Image">
                                        {% else %}
                                            <img src="{% static 'path_to_default_image/default_avatar.jpg' %}" alt="Default Image">
                                        {% endif %}
                                        <div class="overlay-style">
                                            <div class="box">
                                                <div class="content">
                                                    <div class="top">
                                                        <h3>{{ doctor.name }}</h3>
                                                        <span>{{ doctor.choosing_a_specialization }}</span>
                                                    </div>
                                                    <span class="border"></span>
                                                    <div class="bottom">
                                                        <ul>
                                                            <li><i class="fa fa-phone" aria-hidden="true"></i> {{ doctor.phone_number }}</li>
                                                            <li><i class="fa fa-envelope" aria-hidden="true"></i> {{ doctor.email }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-holder">
                                            <h3>{{ doctor.name }}</h3>
                                            <span>{{ doctor.choosing_a_specialization }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Ophthalmologist tab pane -->
                    <div class="tab-pane" id="ophthalmologist">
                        <div class="row">
                            {% for doctor in ophthalmologists %}
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                {% if request.user.is_superuser %}
                                <div class="admin-actions">
                                    <a href="{% url 'doctor_update' doctor.pk %}" class="btn btn-sm btn-success">Update</a>
                                    <a href="{% url 'doctor_delete' doctor.pk %}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this doctor?')">Delete</a>
                                </div>
                                {% endif %}
                                <div class="single-team-member">
                                    <div class="img-holder">
                                        {% if doctor.image_for_doctor %}
                                            <img src="{{ doctor.image_for_doctor.url }}" alt="Doctor Image">
                                        {% else %}
                                            <img src="{% static 'path_to_default_image/default_avatar.jpg' %}" alt="Default Image">
                                        {% endif %}
                                        <div class="overlay-style">
                                            <div class="box">
                                                <div class="content">
                                                    <div class="top">
                                                        <h3>{{ doctor.name }}</h3>
                                                        <span>{{ doctor.choosing_a_specialization }}</span>
                                                    </div>
                                                    <span class="border"></span>
                                                    <div class="bottom">
                                                        <ul>
                                                            <li><i class="fa fa-phone" aria-hidden="true"></i> {{ doctor.phone_number }}</li>
                                                            <li><i class="fa fa-envelope" aria-hidden="true"></i> {{ doctor.email }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-holder">
                                            <h3>{{ doctor.name }}</h3>
                                            <span>{{ doctor.choosing_a_specialization }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Paediatrician tab pane -->
                    <div class="tab-pane" id="paediatrician">
                        <div class="row">
                            {% for doctor in paediatricians %}
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                {% if request.user.is_superuser %}
                                <div class="admin-actions">
                                    <a href="{% url 'doctor_update' doctor.pk %}" class="btn btn-sm btn-success">Update</a>
                                    <a href="{% url 'doctor_delete' doctor.pk %}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this doctor?')">Delete</a>
                                </div>
                                {% endif %}
                                <div class="single-team-member">
                                    <div class="img-holder">
                                        {% if doctor.image_for_doctor %}
                                            <img src="{{ doctor.image_for_doctor.url }}" alt="Doctor Image">
                                        {% else %}
                                            <img src="{% static 'path_to_default_image/default_avatar.jpg' %}" alt="Default Image">
                                        {% endif %}
                                        <div class="overlay-style">
                                            <div class="box">
                                                <div class="content">
                                                    <div class="top">
                                                        <h3>{{ doctor.name }}</h3>
                                                        <span>{{ doctor.choosing_a_specialization }}</span>
                                                    </div>
                                                    <span class="border"></span>
                                                    <div class="bottom">
                                                        <ul>
                                                            <li><i class="fa fa-phone" aria-hidden="true"></i> {{ doctor.phone_number }}</li>
                                                            <li><i class="fa fa-envelope" aria-hidden="true"></i> {{ doctor.email }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-holder">
                                            <h3>{{ doctor.name }}</h3>
                                            <span>{{ doctor.choosing_a_specialization }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Practitioner tab pane -->
                    <div class="tab-pane" id="practitioner">
                        <div class="row">
                            {% for doctor in practitioners %}
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                {% if request.user.is_superuser %}
                                <div class="admin-actions">
                                    <a href="{% url 'doctor_update' doctor.pk %}" class="btn btn-sm btn-success">Update</a>
                                    <a href="{% url 'doctor_delete' doctor.pk %}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this doctor?')">Delete</a>
                                </div>
                                {% endif %}
                                <div class="single-team-member">
                                    <div class="img-holder">
                                        {% if doctor.image_for_doctor %}
                                            <img src="{{ doctor.image_for_doctor.url }}" alt="Doctor Image">
                                        {% else %}
                                            <img src="{% static 'path_to_default_image/default_avatar.jpg' %}" alt="Default Image">
                                        {% endif %}
                                        <div class="overlay-style">
                                            <div class="box">
                                                <div class="content">
                                                    <div class="top">
                                                        <h3>{{ doctor.name }}</h3>
                                                        <span>{{ doctor.choosing_a_specialization }}</span>
                                                    </div>
                                                    <span class="border"></span>
                                                    <div class="bottom">
                                                        <ul>
                                                            <li><i class="fa fa-phone" aria-hidden="true"></i> {{ doctor.phone_number }}</li>
                                                            <li><i class="fa fa-envelope" aria-hidden="true"></i> {{ doctor.email }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-holder">
                                            <h3>{{ doctor.name }}</h3>
                                            <span>{{ doctor.choosing_a_specialization }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--End team area--> 
  
<!--Start footer area-->  
{% include 'base/footer.html' %}
<!--End footer area-->
{#{% include 'base/footer.html' %}#}
<!--Start footer bottom area-->
{#<section class="footer-bottom-area">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-8">#}
{#                <div class="copyright-text">#}
{#                    <p>Copyrights © 2017 All Rights Reserved, Powered by <a href="#">Hospitals.</a></p> #}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-4">#}
{#                <ul class="footer-social-links">#}
{#                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
{#                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}
<!--End footer bottom area-->

</div>


{% endblock %}